In [1]:

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split 
from sklearn.linear_model import LogisticRegression
%matplotlib inline

/home/ahmed/anaconda3/lib/python3.6/site-packages/sklearn/utils/fixes.py:54: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() or inspect.getfullargspec()
  if 'order' in inspect.getargspec(np.copy)[0]:

# loading the training data

In [2]:
data=pd.read_csv("train.csv")
data.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

# loading the test data

In [3]:
test=pd.read_csv("test.csv")
test.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

# preprocessing

In [4]:
data=data.drop(["id"], 1)

#deleting the first column as the id shouldn't affect the learining

In [5]:
color=data["color"]
goal=data["type"]

#preparing two dataframes to change categorical data

In [6]:
from sklearn import preprocessing
le1 = preprocessing.LabelEncoder()
le1.fit(color)
color=le1.transform(color) 
from sklearn import preprocessing
le2 = preprocessing.LabelEncoder()
le2.fit(goal)
goal=le2.transform(goal) 

# using label encoder to replace categorical data with integral value

In [7]:
data=data.drop(["type","color"], 1)
data.head()

# dropping the old columns type and color

   bone_length  rotting_flesh  hair_length  has_soul
0     0.354512       0.350839     0.465761  0.781142
1     0.575560       0.425868     0.531401  0.439899
2     0.467875       0.354330     0.811616  0.791225
3     0.776652       0.508723     0.636766  0.884464
4     0.566117       0.875862     0.418594  0.636438

In [8]:
color = pd.DataFrame(color,columns=['color'])
goal = pd.DataFrame(goal,columns=['goal'])

# label encoder return a different data type
# so i have to return them to dataframe

In [9]:
data = pd.concat([data,color,goal],axis=1)
data.head()

# now i will concatenate all the data frame 
# so that this is the training data 
# ready and prepared to be split

   bone_length  rotting_flesh  hair_length  has_soul  color  goal
0     0.354512       0.350839     0.465761  0.781142      3     1
1     0.575560       0.425868     0.531401  0.439899      4     2
2     0.467875       0.354330     0.811616  0.791225      0     1
3     0.776652       0.508723     0.636766  0.884464      0     1
4     0.566117       0.875862     0.418594  0.636438      4     0

In [10]:
X = data.ix[:,(0,1,2,3,4)].values
y = data.ix[:,-1].values

# spliting the data to features and goals

# fitting the data

In [11]:
LogReg = LogisticRegression()
LogReg.fit(X, y)

# makeing the algorithm and fitting the data

/home/ahmed/anaconda3/lib/python3.6/site-packages/sklearn/base.py:175: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() or inspect.getfullargspec()
  args, varargs, kw, default = inspect.getargspec(init)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, penalty='l2', random_state=None, tol=0.0001)

# preparing the test set

In [12]:
test.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

In [13]:
color=test["color"]

from sklearn import preprocessing
le3 = preprocessing.LabelEncoder()
le3.fit(color)
color=le3.transform(color) 

# using label encoder to replace categorical data with integral value

In [14]:
test=test.drop(["color"], 1)
test.head()

# dropping the old columns type and color

   id  bone_length  rotting_flesh  hair_length  has_soul
0   3     0.471774       0.387937     0.706087  0.698537
1   6     0.427332       0.645024     0.565558  0.451462
2   9     0.549602       0.491931     0.660387  0.449809
3  10     0.638095       0.682867     0.471409  0.356924
4  13     0.361762       0.583997     0.377256  0.276364

In [15]:
color = pd.DataFrame(color,columns=['color'])

# label encoder return a different data type
# so i have to return them to dataframe

In [16]:
test = pd.concat([test,color],axis=1)
test.head()

# now i will concatenate all the dataframes 
# so that this is the test data
# is ready to make pridection

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537      0
1   6     0.427332       0.645024     0.565558  0.451462      5
2   9     0.549602       0.491931     0.660387  0.449809      0
3  10     0.638095       0.682867     0.471409  0.356924      5
4  13     0.361762       0.583997     0.377256  0.276364      0

In [17]:
yhat = test.ix[:,1:].values
y_pred = LogReg.predict(yhat)

# getting the pridections

In [18]:
y_pred

#the pridectio as labels

array([1, 0, 1, 0, 0, 0, 1, 1, 2, 1, 0, 1, 2, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 0, 1, 0, 1, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 1, 1, 0, 2, 2, 0, 2, 1, 1, 0, 1, 1, 0, 2, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 2, 0, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0,
       1, 2, 0, 0, 0, 2, 1, 2, 1, 2, 1, 0, 1, 1, 1, 0, 1, 1, 0, 2, 2, 1, 1,
       0, 2, 2, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 2, 1, 1, 0, 1, 1, 1,
       2, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 2, 2, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 2, 1, 1, 1, 0, 0, 1, 2, 0, 1, 0, 2, 1, 1, 1, 0, 0, 0, 0, 1, 0, 2,
       2, 2, 1, 2, 0, 0, 0, 2, 0, 1, 0, 1, 2, 1, 2, 2, 1, 1, 2, 0, 0, 2, 0,
       2, 2, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 2, 0, 2, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 2, 0, 2, 1, 1,
       1, 1, 2, 0, 0, 2, 1, 1, 1, 2, 0, 1, 0, 0, 1, 0, 1, 1, 2, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 2, 0, 1, 1, 1, 2, 0, 0, 1, 2, 0, 0, 1, 0, 0,
       1, 2, 0, 0, 0, 2, 0, 1, 1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 2, 0,
       2, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 2, 0, 0, 0, 0, 1, 1, 1,
       2, 1, 0, 0, 1, 0, 2, 0, 1, 2, 2, 1, 1, 0, 0, 2, 2, 0, 0, 0, 2, 0, 1,
       1, 0, 2, 0, 1, 1, 2, 0, 1, 2, 1, 2, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 2, 1, 1, 0, 0, 1, 1, 2, 0, 0, 1, 0, 1, 0, 2, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 0, 1, 1,
       0, 0, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 2, 1, 1, 0,
       1, 0, 2, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 2, 0, 0, 1, 1, 2,
       1, 0, 1, 2, 1, 1, 0, 0, 1, 1, 1, 2, 2, 0, 1, 1, 1, 1, 2, 0, 1, 0, 0])

In [19]:
y=le2.inverse_transform(y_pred)

# replacing labels with actual names

In [20]:
y

array(['Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghost', 'Ghost', 'Ghoul',
       'Ghoul', 'Goblin', 'Ghoul', 'Ghost', 'Ghoul', 'Goblin', 'Ghost',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Goblin', 'Ghoul', 'Goblin',
       'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Goblin',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Goblin', 'Ghoul',
       'Ghoul', 'Ghoul', 'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghost', 'Goblin', 'Goblin', 'Ghost',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghost', 'Goblin', 'Ghost', 'Goblin', 'Ghoul', 'Ghoul',
       'Ghost', 'Ghost', 'Ghost', 'Goblin', 'Ghost', 'Ghost', 'Ghost',
       'Ghost', 'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghost', 'Goblin',
       'Ghoul', 'Goblin', 'Ghoul', 'Goblin', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Goblin',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghost', 'Goblin', 'Goblin', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost',
       'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Goblin', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost',
       'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghost', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin',
       'Goblin', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost', 'Goblin', 'Ghost',
       'Goblin', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost',
       'Ghoul', 'Ghost', 'Ghost', 'Goblin', 'Ghoul', 'Ghoul', 'Ghoul',
       'Ghost', 'Ghost', 'Ghoul', 'Goblin', 'Ghost', 'Ghoul', 'Ghost',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost', 'Ghost',
       'Ghost', 'Ghoul', 'Ghost', 'Goblin', 'Goblin', 'Goblin', 'Ghoul',
       'Goblin', 'Ghost', 'Ghost', 'Ghost', 'Goblin', 'Ghost', 'Ghoul',
       'Ghost', 'Ghoul', 'Goblin', 'Ghoul', 'Goblin', 'Goblin', 'Ghoul',
       'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Goblin', 'Ghost', 'Goblin',
       'Goblin', 'Ghost', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghost', 'Ghost', 'Ghost', 'Ghost', 'Goblin',
       'Ghost', 'Goblin', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghost',
       'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Ghost',
       'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Goblin', 'Ghost',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost',
       'Ghost', 'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost',
       'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul',
       'Goblin', 'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin',
       'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost', 'Ghost',
       'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghost',
       'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghost', 'Goblin', 'Ghost',
       'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul',
       'Goblin', 'Ghost', 'Goblin', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul',
       'Ghost', 'Ghost', 'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghost',
       'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin', 'Ghoul', 'Ghost',
       'Ghost', 'Ghoul', 'Ghost', 'Goblin', 'Ghost', 'Ghoul', 'Goblin',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost', 'Goblin', 'Goblin',
       'Ghost', 'Ghost', 'Ghost', 'Goblin', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghost', 'Goblin', 'Ghost', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost',
       'Ghoul', 'Goblin', 'Ghoul', 'Goblin', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghost', 'Ghost', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghost', 'Goblin', 'Ghoul', 'Ghoul', 'Ghost',
       'Ghost', 'Ghoul', 'Ghoul', 'Goblin', 'Ghost', 'Ghost', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghost', 'Goblin', 'Ghoul', 'Goblin', 'Ghoul',
       'Goblin', 'Ghoul', 'Goblin', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghost', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul',
       'Goblin', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin',
       'Goblin', 'Goblin', 'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost',
       'Ghoul', 'Ghoul', 'Goblin', 'Ghoul', 'Ghost', 'Ghoul', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghost', 'Ghost',
       'Ghoul', 'Ghost', 'Ghost', 'Goblin', 'Ghoul', 'Ghoul', 'Ghost',
       'Ghoul', 'Ghost', 'Goblin', 'Ghost', 'Ghost', 'Ghost', 'Ghoul',
       'Ghost', 'Ghoul', 'Ghoul', 'Ghost', 'Ghoul', 'Ghost', 'Ghoul',
       'Ghoul', 'Ghoul', 'Ghost', 'Goblin', 'Ghost', 'Ghost', 'Ghoul',
       'Ghoul', 'Goblin', 'Ghoul', 'Ghost', 'Ghoul', 'Goblin', 'Ghoul',
       'Ghoul', 'Ghost', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin',
       'Goblin', 'Ghost', 'Ghoul', 'Ghoul', 'Ghoul', 'Ghoul', 'Goblin',
       'Ghost', 'Ghoul', 'Ghost', 'Ghost'], dtype=object)

# preparing the pridections to be saved as csv file

In [21]:
ids = test.ix[:,0].values
goal = pd.DataFrame(y,columns=['type'] ) 
ids = pd.DataFrame(ids,columns=['id'] )  

# transforming numpy arrays to datafram to be saved

In [22]:
out=pd.concat([ids, goal],axis=1)

#concatenate the two data frames

In [23]:
out

      id    type
0      3   Ghoul
1      6   Ghost
2      9   Ghoul
3     10   Ghost
4     13   Ghost
5     14   Ghost
6     15   Ghoul
7     16   Ghoul
8     17  Goblin
9     18   Ghoul
10    20   Ghost
11    21   Ghoul
12    24  Goblin
13    26   Ghost
14    33   Ghoul
15    38   Ghost
16    40   Ghoul
17    41   Ghost
18    42   Ghost
19    43   Ghoul
20    44   Ghoul
21    46   Ghoul
22    48   Ghoul
23    49   Ghost
24    50   Ghoul
25    51  Goblin
26    52   Ghoul
27    53  Goblin
28    55   Ghoul
29    57   Ghoul
..   ...     ...
499  857   Ghost
500  859  Goblin
501  860   Ghost
502  862   Ghost
503  863   Ghoul
504  865   Ghoul
505  866  Goblin
506  868   Ghoul
507  869   Ghost
508  870   Ghoul
509  871  Goblin
510  872   Ghoul
511  875   Ghoul
512  876   Ghost
513  879   Ghost
514  880   Ghoul
515  881   Ghoul
516  882   Ghoul
517  883  Goblin
518  884  Goblin
519  885   Ghost
520  887   Ghoul
521  888   Ghoul
522  891   Ghoul
523  892   Ghoul
524  893  Goblin
525  894   Ghost
526  895   Ghoul
527  898   Ghost
528  899   Ghost

[529 rows x 2 columns]

In [24]:
out.to_csv('out.csv',index = False)

# saving the pridections as csv file

# know we have our model and our output as csv file ready to be submitted